.sideSection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.sideSection .Links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.sideSection .Links div{
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.5s;
}
.sideSection .Links .div1:hover{
    background: #212121;
    cursor: pointer;
}
.sideSection .Links .logo img{
    width: 9em;
    height: 1.8em;
    cursor: pointer;
}
.sideSection .Links .mainBtn button{
    padding: 10px 20px;
    border: none;
    color: black;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}
.sideSection .Links .mainBtn button a{
    text-decoration: none;
    color: black;
}
.sideSection .Links .div1 span{
    display: inline-block;
    background: yellow;
    color: black;
    margin-left: 3px;
    border-radius: 5px;
    padding: 2px 4px;
    font-size: 0.8em;
}
.sideSection .Links .sideDivBtn{
    font-size: 1.9em;
    color: #6c6464;
    position: absolute;
    right: -150px;
    top: 60px;
}
.sideSection .addvertisement .img img{
    width: 10em;
    height: 10em;
    border: 1px solid white;
}