nav{
    width: 100%;
    background: #181818;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
.codeLogo {
    display: flex;
    gap: 5px;
}
.codeLogo div img{
    height: 2em;
    width: 2em;
}
.codeLogo div h1{
    font-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
}
.codeLogo div p{
    font-size: 1em;
    color: gray;
}
nav .div1 {
    display: flex;
    gap: 10px;
}
nav .div1 button{
    padding: 1px 20px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    /* font-size: 1.3em; */
    font-weight: bold;
}
nav .div1 .codeBtn{
    background: rgb(12, 108, 76);
    color: white;
}